body{
    /*text-align: center;
    background-color: antiquewhite;*/
    /*background-image: url(images.jpg);
    background-repeat: repeat-y;*/
    border: 1px solid black;
    opacity: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    margin: 20px;
    justify-content: flex-start;
    align-items: flex-end;
    
}
/*div{
    text-align: justify;
    width: 200px;
    height: 200px;
    border: 1px solid black;
    padding: 10px;
    
}
    */

.container{

    border: 1px solid black;
    height: 20cm;
    
    background-color: dodgerblue;
   /* flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    margin: 20px;
    justify-content: center;
    align-items:center;*/
}
.container div{
    
    background-color: yellow;
    margin: 30px;
    padding: 20px;
    font-size: 24px;
    /*align-items: stretch;*/
    
}
#divition{
    

}
/*p{
    
    margin-top: 100px;
    margin-bottom: 100px ;
    margin-right: 200px;
    margin-left: 80px;
}
*/
